body{
	font-family: "Times New Roman", Times, serif;
}

/*The container width is 900 px 
only if the screen width is larger than 1200px */
@media (min-width: 1200px) {
  #nav-bar {
    width: 900px;
    margin-top: 30px;
  }
}


@media (min-width: 1200px) {
  #nav-tabContent {
    width: 700px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  #footer {
    width: 900px;
		background-color: rgba(0, 0, 0, 0.05);
		color: rgba(0, 0, 255, 0.8);    
  }
}

#nav-profile-img{
  width: 60px;
  height: 60px;

  border-radius: 100%;
  border-width: 1px;
  border-style: solid;  
  border-color: red;
}

.cyclePhoto{
  margin: auto; /*good: center the image horizonally*/
  max-width: 600px;  
  max-height: 300px;
/*  width: 400px;
  height: 300px;*/
}

.welcome{
  font-style: italic;
  font-family: fantasy;
  font-size: 1.5rem;
  color: rgba(0,0,255,0.5);
  margin-top: 10px;
  text-shadow: 1px 1px 1px pink; /*x-axis: 1px, y-axis: 1px, blur: 2px*/
}

/*No border on the table*/
.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tbody>tr>td{
	border-top: none;
}

